name: Update Subs

on:
  schedule:
    - cron: "0 */12 * * *"   # این خط باعث می‌شود که هر 12 ساعت یک‌بار اجرا شود.
  workflow_dispatch:  # این بخش هم برای اجرای دستی است.

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: pip install requests

      - name: Run the script
        run: python fetch.py

      - name: Commit changes
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"
          git add output/configs.txt  # اضافه کردن فایل configs.txt به commit
          git commit -m "Auto update configs" || echo "No changes"
          git push  # ارسال تغییرات به مخزن گیت‌هاب
